@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swamp');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    background: #0abed6;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 0;
    display: block;

}

.header header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(21, 151, 168, 0.8)
}

.header ul {
    position: relative;
    display: flex;
}

.header ul li {
    list-style: none;
}

.header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    margin-left: 40px;
    text-decoration: none;
    max-width: 100px;
    text-align: center;
}

.container {
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.conceptual-map h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conceptual-map img {
    display: block;
    margin: 0 auto;
    border-radius: 30%;
    width: 80%;
}

.images {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.images-container img {
    width: 550px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
    border-radius: 10px;
}

.images-container figcaption {
    text-align: center;
    margin-top: 1px;
    font-size: 18px;
    color: #fff;
    max-width: 600px;
}

.news {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news a {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.news p {
    color: #fff;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
}

.bibliographies {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bibliographies h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.bibliographies h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.bibliographies ul {
    margin-top: 10px;
    position: relative;
    text-align: center;
    align-items: center;
}

.bibliographies ul li {
    list-style: none;
    color: #fff;
}

.bibliographies ul li a {
    color: #e7e7e7;
    text-decoration: none;
    max-width: 100px;
}

.bibliographies .first-class,
.bibliographies .second-class,
.bibliographies .third-class {
    margin-top: 20px;
}