@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swamp');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    background: #0abed6;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;

}

.header header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    position: relative;
    display: flex;
}

.header ul li {
    list-style: none;
}

.header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    margin-left: 40px;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 20px;
    }

    .header header {
        padding: 20px;
    }

    .header ul li a {
        margin-left: 10px;
        font-size: 14px;
    }
}