@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swamp');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    background: #0abed6;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 100px;
}

.logo img {
    max-width: 200px;
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.container {
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;

    margin: 100px;
    padding: 2px 0;
}

.container .text {
    position: relative;
    max-width: 600px;
    color: white;
}

.container .text h2 {
    display: flex;
    align-items: left;
}

.container .text h3 {
    display: flex;
    align-items: left;
}

.container .text p {
    color: #f3f3f3;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container .text a {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    padding: 8px 20px;
    background-color: #1597a8;
    color: #fff;
    border-radius: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
}

.container .img {
    display: flex;
}

@keyframes logo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.07);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 1000px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        max-width: 150px;
    }

    .logo img {
        max-width: 100%;
    }

    .container {
        flex-direction: column;
        margin: 50px;
    }

    .container .text {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .container .text h2 {
        margin-top: 60;
        font-size: 2rem;
        margin-bottom: 10px;
        text-align: left;
    }

    .container .text h3 {
        margin-top: 60;
        font-size: 1.5rem;
        margin-bottom: 10px;
        text-align: left;
    }

    .container .text p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .container .text a {
        margin-top: 1.5rem;
        padding: 0.8rem 1.6rem;
        font-size: 1rem;
    }
}